/* Donate */


  .donate-page-donate {
    padding: 40px 150px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      .donate-image, img {
        margin-top: 50px;
        display: block;
      float: right;
      }
  }

  
  .donate-page-left {
    width: 50%;
  }

  @media screen and (max-width: 900px) {
    .donate-page-left {
      width: 100%;
    }

    .donate-image, img {
      margin-top: 50px;
      display: block;
      margin-left: auto;
      margin-right: auto;
  
    }
    
  }


  
  
  .donate-page-donate-label {
    font-size: 0.875em;
    font-family: Lato, sans-serif;
    font-weight: 400;
  }
  
 .donate-page-donate-text {
     width: 700px;
 }
  .donate-page-donate-info {
    width: 500px;
    line-height: 1.2;
    font-size: 0.9em;
    font-family: Lato, sans-serif;
    font-weight: 400;
  }
  
  .info {
    padding-top: 8%;
    line-height: 1.4;
    font-size: 0.9em;
    font-family: Lato, sans-serif;
    font-weight: 400;
  }
  
  .row {
    width: 100%;
  }
  
  .donate-by-mail {
    min-width: 50%;
  }
  