
@import "./variables";


  .learn-page-banner-overlay {
    background: url("../images/Learn_1_Intro.jpg") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 500px;
  }

  .learn-page-banner {
  background-image: linear-gradient(
    0deg,
    rgba(4, 51, 97, 0.5),
    rgba(4, 51, 97, 0.8)
  );
  height: 100%;
  }

  

.learn-page-right-container {
    margin-left: 225px;
    height: 100%;
}

.learn-page-text {
    padding: 10px 70px 10px 70px;
}

.learn-page-banner-text {
  padding: 60px 0px 0px 70px;
}

.learn-page-white-text {
    color: white;
    max-width: 600px;
}

.learn-page-centered {
    font-family: 'Lato', sans-serif; 
    font-size: 24px;
    color: var(--berkeley-blue);
    text-align: center;
    font-weight: 600;
    margin: 0 auto;

}

.learn-page-testimony {
  padding: 10px 0 10px 15px;
  font-family: 'Lato', sans-serif; 
    font-size: 18px;
    color: var(--berkeley-blue);
    text-align: left;
    font-weight: 600;
    border-left: 4px var(--berkeley-blue) solid;
    font-style: italic;


}

.learn-page-menu {
    background-color: var(--light-blue);
    width: 225px;
    height: 100%;
    position: fixed;
    z-index: 10000;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    display: block;
}

.learn-page-menu a {
    padding: 10px 8px 6px 35px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
  }
  
  .learn-page-menu a:hover {
    color: #f1f1f1;
  }

  .learn-page-item {
    font-family: 'Lato', sans-serif; 
  }

  @media screen and (max-height: 450px) {
    .learn-page-menu {padding-top: 15px; width: 160px;}
    .learn-page-menu a {font-size: 14px;}
    .learn-page-white-text {
      color: white;
      width: 100%;
  }
  }
  
  