/* 
// Colors */

:root {
  --off-black: #4a4a4a;
  --dark-gray: #828282;
  --dark-blue: #3b7ea1;
  --light-blue: #f3fbff;
  --gold: rgba(196, 130, 14, 0.35);

  --rose-garden: #eb2562;
  --rose-garden-light: #ff457f;
  --rose-garden-dark: #dc235c;

  --lap-lane: #19a498;
  --california-gold: #fbb431;
  --golden-gate: #ea633b;
  --berkeley-blue: #043361;
}

/* // Typography */
.home-page {
  h1 {
    font-family: "Lato", sans-serif;
    color: var(--berkeley-blue);
    font-size: 48px;
    font-weight: 600;
  }

  h2 {
    font-family: "Lato", sans-serif;
    color: var(--off-black);
    font-size: 36px;
    font-weight: 600;
    margin-top: 32px;
    margin-bottom: 24px;
  }

  h3 {
    font-family: "Lato", sans-serif;
    color: var(--off-black);
    font-size: 28px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 18px;
  }

  h4 {
    font-family: "Lato", sans-serif;
    color: var(--off-black);
    font-size: 20px;
    font-weight: 600;
    margin-top: 18px;
    margin-bottom: 12px;
  }

  p,
  br,
  ul,
  li {
    font-family: "Lato", sans-serif;
    color: var(--off-black);
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5em;
  }

  .white-text {
    color: white;
  }
}

/* // Overrides: Keep as few as possible */

.bp3-tab[aria-selected="true"] {
  color: var(--rose-garden);
  box-shadow: inset 0 -3px 0 var(--rose-garden);
}

.bp3-tab[aria-selected="true"],
.bp3-tab:not([aria-disabled="true"]):hover {
  color: var(--rose-garden);
}

.bp3-tab-indicator-wrapper .bp3-tab-indicator {
  background-color: var(--rose-garden);
}

.bp3-label {
  font-weight: 600;
}

.bp3-tab-list > *:not(:last-child) {
  margin-right: 32px;
}

/* Buttons */

.btn {
  display: inline-block;
  line-height: 1.2;
  padding: 8px 20px;
  margin-top: 40px;
  margin-bottom: 5px;
  font-size: 0.875em;
  font-family: Lato, sans-serif;
  font-weight: 400;
  border-width: 2px !important;
  border-style: solid !important;
  text-decoration: none !important;
  border-radius: 2px;
  background-color: var(--rose-garden);
  color: #fff;
  border-color: var(--rose-garden);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

/* General Layout */

.container {
  width: 100%;
}

.block {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  align-items: flex-start;
  padding: 100px;
}

/* Block Colors */
.home-page-banner-overlay {
  background: url("../images/Home_1_Intro.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-page-landing {
  background-image: linear-gradient(
    0deg,
    rgba(4, 51, 97, 0.5),
    rgba(4, 51, 97, 0.8)
  );
}

.home-page-resource-index {
  background-color: var(--light-blue);
}

.home-page-center {
  background-color: var(--berkeley-blue);
}

.home-page-testimonies {
  background-color: var(--light-blue);
}

.home-page-donate {
  background-color: white;
}

/* Landing */

.home-page-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home-page-landing-text {
  text-align: left;
  width: 55%;
}

/* Resource Index */

.home-page-resource-text {
  max-width: 75%;
  min-width: 55%;
}

/* Resource Index Cards */
.card-img {
  background: cornsilk;
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.home-page-resource-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-around;
}

/* Card Itself */
.home-page-resource-card {
  background: white;
  margin: 10px;
  min-height: 200px;
  width: 320px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-radius: 4px;
  border-top: 8px solid var(--california-gold);
}

/* Text-Container - Card */
.card-container {
  padding: 12px 24px;
}

/* Font Styling of Text - Card */
.card-text {
  font-family: "Lato", sans-serif;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
}

/* BNS Center */

.home-page-center {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.home-page-center-text {
  width: 55%;
}

.btn-primary {
  margin-right: 2%;
}

.white-text {
  color: white;
}

/* Our Mission */

.home-page-background {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.home-page-background-text {
  width: 55%;
}

/* Student Testimonies */

.testimonial_img {
  img {
    width: 100%;
  }
}

.home-page-testimonies-text {
  max-width: 75%;
  min-width: 55%;
}
.home-page-testimony-cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-evenly;
}

.home-page-testimony-card {
  background: white;
  margin: 15px;
  width: 280px;
  height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  border-radius: 4px;
  border-top: 8px solid var(--california-gold);
}

.card-test-container {
  width: 250px;
  margin: 0 auto;
  text-align: left;
}

.card-test-text {
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  height: 160px;
  overflow: scroll;
  font-family: "Lato", sans-serif;
  color: #333333;
  font-size: 12px;
  font-weight: 200;
}
/* Donate */

.home-page-logo {
  width: 280px;
}

.home-values {
  width: 400px;
}

.home-page-student {
  display: block;
  width: 100%;
  margin: auto;
  transform: translateY(-5%);
}

.home-page-donate {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home-page-right {
  width: 50%;
}

.home-page-donate-label {
  font-size: 0.875em;
  font-family: Lato, sans-serif;
  font-weight: 400;
}

.home-donate-image {
  width: 400px;
}

.home-page-donate-info {
  width: 100%;
  line-height: 1.2;
  font-size: 0.9em;
  font-family: Lato, sans-serif;
  font-weight: 400;
}

.info {
  padding-top: 8%;
  line-height: 1.4;
  font-size: 0.9em;
  font-family: Lato, sans-serif;
  font-weight: 400;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.donate-by-mail {
  min-width: 50%;
}
