@import "./variables";

.navbar-image {
  display: block;
  height: 45px;
}

.navbar-admin-tag {
  font-weight: 700;
  margin-left: 10px;
  background-color: #f5f8fa !important;
  color: $berkeley-blue !important;
  letter-spacing: 0.5px;
}

$navbar-height: 60px;
.bns-navbar.bp3-navbar {
  height: $navbar-height;
  background-color: $berkeley-blue;
}

.bns-navbar.bp3-navbar > .bp3-navbar-group {
  height: $navbar-height;
}

.bns-navbar-item {
  margin: 0px 16px;
}

.bp3-navbar.bp3-dark a {
  color: white;
}
